html,
body {
  height: 100%;
  background: black;
  font-family: 'Sequel 100 Wide 45';
  font-weight: 500;
  font-style: normal;
  color: white;
  min-width: 300px;
}

html.page-positive, html.page-positive body {
  background: white;
  color: black;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
}

.container {
  padding: 4em;
}

.flex-container {
  display: flex;
}

.column {
  flex: 50%;
}

@media (max-width: 1000px) {
  .flex-container {
    flex-wrap: wrap;
  }
  .column {
    flex: 100%;
  }
}

.description {
  width: 50%;
}

.images img {
  width: 100%;
}

.images figcaption {
  font-size: 0.7em;
  margin-top: 1em;
}

#sketch {
  cursor: pointer;
  position: absolute;
  z-index: 0;
  width: 100vw;
  height: 100vh;
} 

.popup {
  z-index: 100;
  background: white;
  width: 40%;
  min-width: 300px;
  /* height: 300px; */
  margin: auto auto;
  color: black;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

a, a:visited, a:active, a:hover, a:link {
  color: black;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

button, .button, a.button {
  background: white;
  border: 2px solid black;
  padding: 1em 2em;
  margin-right: 1em;
  cursor: pointer;
  display: inline-block;
  color: black;
  text-decoration: none;
}

button:hover, .button:hover {
  background: black;
  border: 2px solid black;
  color: white;
  cursor: pointer; /* TODO: Does not work! */;
}

.bottom-ui {
  z-index: 2;
  position: absolute;
  bottom: 1em;
  left: 1em;
  display: none;
  height: 65px;
}

.spacetime{
  background: black;
  color: white;
  display: inline-block;
  padding: 0 2em;
  height: 100%;
  /*width: 320px;*/
  /*text-align: left;*/
}

.too-small {
  display: none;
  text-decoration: underline;
}

@media (max-width: 750px) {

  /* description */
  .container {
    padding: 2em;
  }

  /* map */
  #sketch {
    display: hidden;
  }

  .popup {
    margin: 0;
    width: auto;
    height: auto;
    min-width: none;
  }

  .btn-listen {
    display: none;
  }

  .too-small {
    display: block;
  }

  .instructions {
    display: none;
  }

}